@model CitizenJournalismNetworkServer.Models.Category
<?xml version="1.0" encoding="UTF-8"?>

<Category>
				<Term>
				@Model.Term
			</Term>
				<Scheme>
				@Model.Scheme
			</Scheme>
				<Label>
				@Model.Label
			</Label>
	</Category>

