@model IEnumerable<CitizenJournalismNetworkServer.Domain.Models.Category>

<?xml version="1.0" encoding="UTF-8"?>

<Categories>
@foreach (var item in Model) {
	<Category>
			<Term>
			@item.Term
		</Term>
			<Scheme>
			@item.Scheme
		</Scheme>
			<Label>
			@item.Label
		</Label>
	</Category>
}
</Categories>

