@{
    ViewBag.Title = "Home Page";
}

<h2>What are you doing here?</h2>
<p>
    This place is so broken it's pathetic.  Nothing works right, none of the real links are even accessible!
    <br />
    <br />
    <a href="http://reddit.com/r/fffffffuuuuuuuuuuuu">Go somewhere else for now.</a> k thx bai
</p>
