*.suo
*.user
CitizenJournalismNetworkServer/bin/*
CitizenJournalismNetworkServer/obj/*
CitizenJournalismNetworkServer.AcceptanceTest/bin/*
CitizenJournalismNetworkServer.AcceptanceTest/obj/*
CitizenJournalismNetworkServer.Domain/bin/*
CitizenJournalismNetworkServer.Domain/obj/*
CitizenJournalismNetworkServer.Kernel/bin/*
CitizenJournalismNetworkServer.Kernel/obj/*
CitizenJournalismNetworkServer.Web/bin/*
CitizenJournalismNetworkServer.Web/obj/*
CitizenJournalismNetworkServer.Domain.Tests/bin/*
CitizenJournalismNetworkServer.Domain.Tests/obj/*
CitizenJournalismNetworkServer.Kernel.Tests/bin/*
CitizenJournalismNetworkServer.Kernel.Tests/obj/*
CitizenJournalismNetworkServer.Web.Tests/bin/*
CitizenJournalismNetworkServer.Web.Tests/obj/*
*.log
Thumbs.db
