<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="CitizenJournalismNetworkServerContextSubsonic" connectionString="data source=localhost\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=cjns_subsonic;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>