@model CitizenJournalismNetworkServer.Models.Collection
<?xml version="1.0" encoding="UTF-8"?>

<Collection>
				<Href>
				@Model.Href
			</Href>
				<Title>
				@Model.Title
			</Title>
				<AreCategoriesFixed>
				@Model.AreCategoriesFixed
			</AreCategoriesFixed>
	</Collection>

