<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CitizenJournalismNetworkServerContext" connectionString="data source=localhost\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=cjns;" providerName="System.Data.SqlClient" />
    <add name="CitizenJournalismNetworkServerContextSubsonic" connectionString="data source=localhost\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=cjns_subsonic;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
